.center-text {
  text-align: center        /* test method */
}

.background-1 {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(110, 21, 110);
  color: white;
  text-align: center;
  height: 100px;                                    /* this sets all the rounded edges and coloring in the webpages header/footer. aligns text to the center and changes color of the text/background */
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}

.background-2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

a:link {
  color: rgb(110, 21, 110);
}

a:visited {
  color: purple
}    
    
hr {
  height: 5px;
  width: 300px;
  background-color: black;

}

.list-text {
  text-align: center;
}
                                  /* This helps set the list into the center with the dots following */
.list-text > ul {
  display: inline-block;      
}

img{
  border-radius: 25px;      /* rounds the image */
}
